*
!.envrc
!cliff.toml
!CHANGELOG.md
!.gitignore
!Cargo.lock
!Cargo.toml
!README.md
!devenv.nix
!make.nix

!scripts
!scripts/*
!scripts/**/*

!crates/

!crates/oyui-tasker/
!crates/oyui-tasker/**/*

!crates/oyui-rune-actions/
!crates/oyui-rune-actions/**/*

!crates/oyui/
!crates/oyui/**/*

!crates/syndiff/
!crates/syndiff/**/*

!docs/
!docs/**/*

# To fix:
#!flake.nix
#!flake.lock
