*
!.envrc
!.gitignore
!Cargo.lock
!Cargo.toml
!README.md
!shell.nix
!devenv.nix
!scripts.nix
!nix/*

!crates/

!crates/oyui-tasker/
!crates/oyui-tasker/**/*

!crates/oyui/
!crates/oyui/**/*

!docs/
!docs/**/*

# To fix:
#!flake.nix
#!flake.lock
